<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>landing</title>    
  </head>
  <body>
    <% if (loggedIn) { %>
      <p>Hello, <%= username %>!</p>
      <a href="/logout"><button>Log out</button></a>
      <a href="/members"><button>Go to Member Area</button></a>
  <% } else { %>
      <a href="/signup"><button>Sign up</button></a>
      <a href="/login"><button>Log in</button></a>
  <% } %>
  
  </body>
</html>
