<%- include("templates/header") %>
  <form action="/login" method="POST">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <%- include("templates/input", {input: "email" }) %>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <%- include("templates/input", {input: "password" }) %>


        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </form>

  <% if (typeof isMatch==='undefined' && typeof isAdmin==='undefined' ) { %>

    <!-- this isMatch undefined should be added for some reason -->
    <% } else if (typeof isMatch !== 'undefined' && !isMatch){ %>
      <p>Invalid email and password combination.</p>
      <% } else if (!isAdmin) {%>
        <p>You are not admin</p>
        <% } %>


          <%- include("templates/footer") %>