<%- include("templates/header") %>
    <% if (errors) { %>
        <% errors.forEach(error => { %>
            <p><%= error %></p>
        <% }); %>
    <% } %>
    
    <a href="/signup">Try again</a>
        
    <%- include("templates/footer") %>